  <div class="jumbotron">
    <h1 class="title">GALAXY OFFER</h1>
    <p class="slogan">SAVE THE GALAXY TOGETHER?
    <br>

    <br>
     JOIN US !
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>


  <div class="lp-section-2 clearfix">
  <div class="content-2">
    <div class="short-line"></div>
    <h2>我们重新定义编程教育</h2>
    <p>
      新生大学线上全栈营由两岸知名的 Rails 教练郑伊廷、天使投资人李笑来共同主持。我们以认知心理学为基石，打破过去传统刻板的编程学习、培训途径，旨在为未来培养出一批能够快速贯通编程理念并灵活实践的全栈工程师。
    </p>
    <img src="https://fullstack.xinshengdaxue.com/images/lp-2.jpg">
  </div>
</div>

<div class="lp-section-3 clearfix">
<div class="content-3">
  <div class="feature-title">
    <div class="short-line"></div>
    <h2>人人可学的在线编程教育平台</h2>
  </div>
  <div class="feature-block">
    <img src="https://fullstack.xinshengdaxue.com/images/feature1.png">
    <br>
    <h3>教材简明易懂</h3>
    <p>专业术语太多？全英文看不懂？我们总结多年的线下教育经验编写了通俗易懂的教材，帮你降低学习门槛。</p>
  </div>
  <div class="feature-block">
    <img src="https://fullstack.xinshengdaxue.com/images/feature2.png">
    <br>
    <h3>职业程序员全程指导</h3>
    <p>学习编程最大的困难就是遇到 Bug 不会解，我们配备了职业程序员，帮你排除学习中遇到的任何问题。</p>
  </div>
  <div class="feature-block">
    <img src="https://fullstack.xinshengdaxue.com/images/feature3.png">
    <br>
    <h3>业界大神倾心分享</h3>
    <p>Hackathon 冠军 Xdite 与你分享十年敏捷开发、团队合作、项目管理经验，让你体验持续高速成长的乐趣。</p>
  </div>
</div>
</div>

<div class="lp-section-4">
<div class="content-4 clearfix">
<div class="short-line"></div>
<h2>与强者共同成长</h2>
<div class="teacher-block-left">
  <div class="top">
    <div class="img">
    <img src="https://fullstack.xinshengdaxue.com/images/teacher-2.jpg">
  </div>
  <div class="name">
    <span>李笑来</span>
    <p>新生大学创始人<br>天使投资人</p>
  </div>
  </div>
  <div class="talk">
    <p>
      <i class="fa fa-quote-left" aria-hidden="true"></i>
      我就是想带着一群人，大幅度降低对学习的恐惧，大幅度压缩学而不用的时间，大幅度地跨界。
    </p>
  </div>
</div>

<div class="teacher-block-right">
  <div class="top">
  <div class="img">
    <img src="https://fullstack.xinshengdaxue.com/images/teacher-1.jpg">
  </div>
  <div class="name">
    <span>郑伊廷</span>
    <p>知名 Rails 教练<br>世界黑客松首奖得主</p>
  </div>
</div>
  <div class="talk">
    <p>
      <i class="fa fa-quote-left" aria-hidden="true"></i>
      世界上没有一门学问是要先学好才能用。几乎都是先用，再用，然后不断的用，才能够学好。
    </p>
  </div>
</div>
</div>
</div>

<div class="lp-section-4 lp-section-5">
  <div class="content-4 content-5">
    <p class="des">我们的往期学员被以下公司录取了</p>
    <div class="list">
      <img src="https://fullstack.xinshengdaxue.com/images/jinshuju.png">
      <img src="https://fullstack.xinshengdaxue.com/images/strikingly.png">
      <img src="https://fullstack.xinshengdaxue.com/images/caicheng.png">
      <img src="https://fullstack.xinshengdaxue.com/images/yunbi.png">
      <img src="https://fullstack.xinshengdaxue.com/images/meow.png">
    </div>
    <p class="des more">更多精彩，由你创造……</p>
  </div>
</div>
